*{
    font-size: 4vh;
    font-family:sans-serif;
    border-radius: 4px;
    border: none;
    color: rgba(228, 83, 83, 0.8);
    margin: 0;
}
body{
   transition-duration: 2s;
    background-size: cover;
    background-repeat: repeat-y;
    margin: 0;
    max-height: 100vh;
}
#caja,h1{
    border: 1px solid;
    padding: 14px;
    text-align: center;
    background-color: rgb(0,0,0,0.5);
    box-sizing: border-box;
    top: 5vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    position: relative;
    top: -80vh;
}
input,select{
    display: block;
    width: 82vw;
    text-align: center;
    margin-top: 2vh;
    background-color: rgb(0,0,0,0);
    border-bottom: 2px solid  rgba(228, 83, 83, 0.8);
}
#mes{
    position: relative;
    top: 2vh;
}
video{
    max-width: 100vw;
    max-height: 100vh;
}



