
body{
background-image: url('fondo.gif'); 
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;   
}

#reproducir
{
    background-color: rgb(148, 27, 27);
    border: none;
    border-radius: 50%;
    font-family: arial;
    font-size: 20px;
    color: rgb(135, 135, 248);
}
#imagen 
{
    margin-top: 10px;
    display: none;
}
#valorDado
{
    display: none;
    width:170px;
}
#mario
{
    border-radius: 20%;
    margin: 0;
    position: relative;
    top: 100px;
    left: 0;
    transition-duration: 7s;
   
}
#meta
{
    background-color: chartreuse;
    max-width: 18px;
    min-height: 120px;
    right: 0;
    position: relative;
    left: 382px;

}
